.img-favoritos {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 30px;
}
.title-prod-fav {
    width: 200px;
    font-size: 15px;
    font-weight: 500;
    margin-left: 30px;
}
.container-centrar {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}
.elementos {
    /* background-color: red; */
    height: 110vh;
}
.container-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 50px;
    width: 500px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}
.img-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    margin-top: 10px;
    width: 450px;
    height: 110px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.212);
    /* background-color: red; */
}
.button-delete-favs {
    font-size: 12px;
    margin-left: 30px;
    color: #2c7ad3;
    border: 0px solid black;
    height: 20px;
    width: 55px;
    cursor: pointer;
    background-color: white;
}

@media (max-width: 500px) {
    .container-items {
        width: 330px;
    }
    .img-title {
        width: 300px;
    }
}
