.container-img-sell {
    height: 140vh;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    margin-top: 50px;
}
.container-white-sell {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    border-radius: 20px;
    font-size: 18px;
    background-color: white;
    width: 1100px;
    height: 1200px;
}

.imgSell {
    width: 900px;
    border-radius: 10px;
}
.text-sell {
    width: 900px;
    font-size: 23px;
    margin-top: 60px;
}
.text-sell-title {
    width: 900px;
    font-size: 23px;
}
.button-gmail-sell {
    height: 60px;
    width: 200px;
    font-weight: 700;
    margin-top: 30px;
    background-color: rgb(255, 255, 255);
    border: 2px solid #00000031;
    transition: 0.3s;
    border-radius: 4px;
    cursor: pointer;
}
.button-gmail-sell:hover {
    border: 2px solid rgb(0, 0, 0);
}

@media (max-width: 1120px) {
    .container-white-sell {
        width: 800px;
        height: 120vh;
    }
    .text-sell {
        width: 700px;
        font-size: 18px;
        margin-top: 60px;
    }
    .text-sell-title {
        width: 700px;
        font-size: 20px;
    }
    .imgSell {
        width: 700px;
        border-radius: 10px;
    }
}
@media (max-width: 500px) {
    .container-white-sell {
        width: 400px;
        /* height: 90vh; */
        margin-top: -150px;
    }
    .text-sell {
        width: 350px;
        font-size: 12px;
        margin-top: 60px;
    }
    .text-sell-title {
        width: 350px;
        font-size: 12px;
    }
    .imgSell {
        width: 350px;
        border-radius: 10px;
    }
} ;
