.container-methods-principal {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.container-methods-white {
    background-color: white;
    width: 500px;
    min-height: 600px;
    border-radius: 10px;
}
